body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 660px;
  margin: 2rem auto;
  border: 16px solid #3498db;
  border-radius: 14px;
}

.square {
  box-sizing: border-box;
  display: inline-block;
  background-color: black;
  border: #44509f 1px solid;
}

#button-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.ask-button,
.erase-button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms;
}
.ask-button {
  background: #336759;
  color: white;
}
.erase-button {
  background: #f1d902;
  color: black;
}
.ask-button:hover {
  transform: translateY(-2px);
}
.erase-button:hover {
  transform: translateY(-2px);
}
