body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 660px;
  margin: 2rem auto;
}

.square {
  box-sizing: border-box;
  display: inline-block;
  background-color: black;
  border: #44509f 1px solid;
}
